.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  &:not(:last-child) {
    border-bottom: 1px solid #ededed;
    padding-bottom: 10px;
  }
  &-description {
    display: flex;
    flex-direction: column;
  }
  &-right-content {
    display: flex;
    align-items: center;
    svg {
      cursor: pointer;
    }
    &-completed {
      color: #4bb543;
    }
  }
}
